.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 4px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 2px 4px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
}

.button1:hover {
    background-color: white;
    color: black;
    border: 2px solid #4CAF50;
}

.button1{
    background-color: #4CAF50;
    color: white;
}

.button5 {
    background-color: white;
    color: black;
    border: 2px solid #e7e7e7;
}

.button5:hover {background-color: #e7e7e7;}

.width-button{
    width: 150px;
    height: 30px;
    display: inline-block;
}